In [1]:
!pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in c:\users\ramya\appdata\roaming\python\python310\site-packages (1.1.2)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data = pd.read_csv("C:/Users/ramya/Desktop/cloud/Documents/sem 4/AML'/groceries.csv",on_bad_lines='skip')
data

,citrus fruit,semi-finished bread,margarine,ready soups
0,tropical fruit,yogurt,coffee,NaN
1,whole milk,NaN,NaN,NaN
2,pip fruit,yogurt,cream cheese,meat spreads
3,other vegetables,whole milk,condensed milk,long life bakery product
4,rolls/buns,NaN,NaN,NaN
...,...,...,...,...
6100,yogurt,long life bakery product,NaN,NaN
6101,pork,frozen vegetables,pastry,NaN
6102,ice cream,long life bakery product,specialty chocolate,specialty bar
6103,cooking chocolate,NaN,NaN,NaN
6104,semi-finished bread,bottled water,soda,bottled beer

In [4]:
transactions=[]  
for i in range(0, 6105):  
    transactions.append([str(data.values[i,j])  for j in range(0,4)])

In [7]:
from apyori import apriori  
rules= apriori(transactions= transactions, min_support=0.003, min_confidence = 0.2, min_lift=3, min_length=2, max_length=10)

In [8]:
results = list(rules)
results

[RelationRecord(items=frozenset({'bottled beer', 'liquor'}), support=0.005896805896805897, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liquor'}), items_add=frozenset({'bottled beer'}), confidence=0.5625, lift=8.458282019704432)]),
 RelationRecord(items=frozenset({'bottled water', 'white wine'}), support=0.0034398034398034397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'white wine'}), items_add=frozenset({'bottled water'}), confidence=0.2079207920792079, lift=3.1264936838511432)]),
 RelationRecord(items=frozenset({'bottled beer', 'nan', 'liquor'}), support=0.004258804258804259, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liquor'}), items_add=frozenset({'bottled beer', 'nan'}), confidence=0.40625, lift=7.607841257668712), OrderedStatistic(items_base=frozenset({'nan', 'liquor'}), items_add=frozenset({'bottled beer'}), confidence=0.52, lift=7.819211822660098)]),
 RelationRecord(items=frozenset({'sausage', 'rolls/buns', 'soda'}), support=0.0034398034398034397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'sausage', 'soda'}), items_add=frozenset({'rolls/buns'}), confidence=0.5, lift=3.964285714285715)])]

In [9]:
def inspect(results):
 lhs = [tuple(result[2][0][0])[0] for result in results]
 rhs = [tuple(result[2][0][1])[0] for result in results]
 supports = [result[1] for result in results]
 return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 
'Product 2', 'Support'])
resultsinDataFrame

    Product 1      Product 2   Support
0      liquor   bottled beer  0.005897
1  white wine  bottled water  0.003440
2      liquor   bottled beer  0.004259
3     sausage     rolls/buns  0.003440